extends layout

block content
    h2(class='centered') Welcome to #{title} -- your source for the very best music from artists appearing here soon!
    h3(class='centered') Some of our friends playing in town this week:
    #nowPlaying(class='centered')
        table
            tr
                td(class='thumb-cell')
                    img(id='artist-thumbnail', src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=", width="0", height="0", alt="", class='woodshedw img-circle')
                td(class='description-cell')
                    p(id='artist-name')='artist currently playing'
                    p(id='track-name')='track currently playing'
                    a(id='performance-link', href='#', style='margin-left: 10px;', target='_blank')='link to performance page'
            tr(style='height:40px;')


        div(class="sm2-bar-ui compact full-width dark-text")
            div(class="bd sm2-main-controls")
                div(class="sm2-inline-texture")
                div(class="sm2-inline-gradient")
                div(class="sm2-inline-element sm2-button-element")
                    div(class="sm2-button-bd")
                        a(href="#play", class="sm2-inline-button play-pause")  Play / pause

                div(class="sm2-inline-element sm2-inline-status")
                    div(class="sm2-playlist crawler")
                        div(class="sm2-playlist-target")
                            ul(class="sm2-playlist-bd crawler")
                                li(class="crawler")  32" Gong Sounds

                    div(class="sm2-progress")
                        div(class="sm2-row")
                            div(class="sm2-inline-time")  0:00
                            div(class="sm2-progress-bd")
                                div(class="sm2-progress-track")
                                    div(class="sm2-progress-bar")
                                    div(class="sm2-progress-ball")
                                        div(class="icon-overlay")

                            div(class="sm2-inline-duration")  0:00

                div(class="sm2-inline-element sm2-button-element sm2-volume")
                    div(class="sm2-button-bd")
                        span(class="sm2-inline-button sm2-volume-control volume-shade")
                        a(href="#volume", class="sm2-inline-button sm2-volume-control")  volume

            div(class="bd sm2-playlist-drawer sm2-element")
                div(class="sm2-inline-texture")
                    div(class="sm2-box-shadow")

                //playlist content is mirrored here
                div(class="sm2-playlist-wrapper", style='display:none;')
                    ul(class="sm2-playlist-bd", style='display:none;')
                        for val in currentPlaylist.unlinkedSongs
                            li(data-song_id=val.track.id)
                                a(href=val.track.track_url, data-song_id=val.track.id)= val.track.artist_name + ' -- ' + val.track.title
                        else
                            li(class="selected")
                                a(href="https://woodshedradio.blob.core.windows.net/mpc-test-container/04%20The%20Sun%20Ain't%20Gonna%20Shine%20Anymore1438992438659.m4a")  Walker Brothers -- The Sun Ain't Gonna Shine Anymore
                            li
                                a(href="https://woodshedradio.blob.core.windows.net/mpc-test-container/12%20Casa%20Dega%20(Single%20Version)1438992207379.m4a")  Tom Petty and the Heartbreakers -- Casa Dega (Single Version)
                            li
                                a(href="https://woodshedradio.blob.core.windows.net/mpc-test-container/09%20Eat%20At%20Home1438990645168.m4a")  Paul & Linda McCartney -- Eat At Home

    div(class="container")
        div(class='row')
            div(class='col-sm-12')
                ul(id="just-played", class="list-group")
                    //li(class="list-group-item")
                    //    div(class="image-container")
                    //        img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2NgYAAAAAMAAWgmWQ0AAAAASUVORK5CYII=", width="100px", height="100px", alt="", class='woodshedw img-circle')
                    //    div(class="track-info-container")
                    //        h4(class="list-group-item-heading")="Artist Name"
                    //        p(class="list-group-item-text")="Track Name"
                    //        a(href="#", class="list-group-item-text")="Show Info with link"

    div(id='social-container', class="col-sm-4 social-buttons")
        //div(class="fb-share-button btn btn-social-icon btn-facebook", data-href="http://woodshed.cloudapp.net/radioplayer", data-layout="icon")
        a(class="btn btn-social-icon btn-facebook", id='button-fb')
            i(class="fa fa-facebook")
        a(class="btn btn-social-icon btn-twitter", id='button-tweet')
            i(class="fa fa-twitter")
        div(id="button-linkedin", class="btn btn-social-icon btn-linkedin", data-url="http://woodshed.cloudapp.net", data-text="Make your sharing widget with Sharrre (jQuery Plugin)")
            i(class="fa fa-linkedin")
        div(id='button-google-plus', class="btn btn-social-icon btn-linked-in", style="background-color: #EA0505; color: #fff", data-url="http://woodshed.cloudapp.net", data-text="Make your sharing widget with Sharrre (jQuery Plugin)")
            i(class="fa fa-google-plus")
    div(class='clearfix')
    #footer(class='span10 offset1')
        small Powered by
            a(href='http://soundkick.com')
            |  &nbsp;<a href='http://www.songkick.com/' target='_blank'>Songkick</a>
            |  ,&nbsp;
            |  <a href='http://echonest.com' target='_blank'>The Echo Nest</a>
            |  ,&nbsp;
            |  <a href='http://www.schillmania.com/projects/soundmanager2/' target='_blank'>SoundManager2</a>
            |  &nbsp;and&nbsp;
            |  <a href='http://rdio.com' target='_blank'>Rdio</a>

    script(type='text/javascript').
        window.currentPlaylist =!{JSON.stringify(currentPlaylist)}
    script(src='/scripts/soundmanager2.js')
    script(src='/scripts/radioplayer.js')
    script(src='/scripts/bar-ui.js')
    link(rel='stylesheet', href='/stylesheets/bar-ui.css')
    script.
        twttr.ready(function (twttr) {
            createTwitterShareButton(twttr)
            //twttr.events.bind('click', function (event) {
                //alert('yes');
            //});
        });
