extends layout

block content
    h2(class='centered') Welcome to #{title} -- your source for the very best music from artists appearing here soon!
    h3(class='centered') Some of our friends playing in town this week:
    #nowPlaying(class='centered')
        table
            tr
                td(class='thumb-cell')
                    img(id='artist-thumbnail', src='', class='img-circle artist')
                td(class='description-cell')
                    p(id='artist-name')='artist currently playing'
                    p(id='track-name')='track currently playing'
                    a(id='performance-link', href='#', style='margin-left: 10px;')='link to performance page'
            tr
        div(id='play-buttons', class='btn-group showlist-container')
            button(id='playPrev', class="btn btn-default pb")<i class="glyphicon glyphicon-backward"></i>
            button(id='playPlay', class="btn btn-default pb")<i class="glyphicon glyphicon-play"></i>
            button(id='playPause', class="btn btn-default pb")<i class="glyphicon glyphicon-pause"></i>
            button(id='playNext', class="btn btn-default pb")<i class="glyphicon glyphicon-forward"></i>


    #playBar
        div(class='showlist-container')
            div(class='dropdown')
                button(class="btn btn-default dropdown-toggle", data-toggle='dropdown', type="button")
                    span(class="glyphicon glyphicon-menu-hamburger" aria-hidden="true")
                ul(id='global-menu',class='dropdown-menu')
                    li
                        a(id='btn-upload', href='javascript:void(0)') Upload song for upcoming artist / performance
                    li
                        div(style='border-bottom: 1px solid silver; margin: 10px 20px 0 20px;')
                    li
                        a(id='btn-publish-playlist', href='javascript:void(0)') Publish current Playlist
                    li
                        div(style='border-bottom: 1px solid silver; margin: 10px 20px 0 20px;')
                    li
                        a(id='btn-logoff', href='javascript:void(0)') Log on

        div(id='date-range', class='showlist-container control-group', style='vertical-align:middle')
            div(class='controls')
                div(class='input-group', style='width:200px;')
                    label(id='date-button', for="performance-date" class="input-group-addon btn btn-default ladda-button", data-style='expand-left', data-spinner-color="#46a546")
                        span(class="ladda-label")
                        span(class="glyphicon glyphicon-calendar")
                    input(id='performance-date', type='text', class='date-picker form-control', style='width:200px;', placeholder='enter a date!')

         div(class='showlist-container')
            div(class='dropdown')
                button(id='get-playlists', class='dropdown-toggle btn btn-default ladda-button', type='button', data-toggle='dropdown', data-style='expand-left', data-spinner-color="#46a546") Load playlist here
                    span(class="ladda-label")
                    b(class='caret')

                ul(id='saved-list',class='dropdown-menu')
                    li Playlist A
                    li Playlist B

        div(class='showlist-container')
            div(class='input-group')

                label(id='save-playlist', for='playlist-name', class='btn btn-default ladda-button', data-toggle='dropdown', data-style='expand-left', data-spinner-color="#46a546") Save Playlist
                    span(class="ladda-label")

                input(id='playlist-name', type='text', class='form-control', placeholder='enter a name for the playlist', required)

        div(class='showlist-container')
            button(id='trash-playlist', class=' btn btn-default ladda-button', data-style='expand-left', data-spinner-color="#46a546")
                span(class="ladda-label")
                icon(class='glyphicon glyphicon-trash')
                //b(class='caret')

    #songContainer(class='show-container')
        ul
            li Select a date above to see shows, artists, and songs

    #showContainer(class='show-container')
        ul(class='showList')
            li Drag songs for the show into this container -- drag to trash container to remove

    #footer(class='container span10 offset1')
        small Powered by 
            a(href='http://soundkick.com') Soundkick
            |  ,&nbsp;
            |  <a href='http://echonest.com'>The Echo Nest</a>
            |  &nbsp;and&nbsp;
            |  <a href='http://rdio.com'>Rdio</a>

    script(src='/scripts/soundmanager2.js')
    script(src='/scripts/initSoundManager.js')
    script(type='text/javascript').
        artistData =!{JSON.stringify(artistTracks)}
    script(src='https://rdio.com/api/api.js?client_id=uidoeau3k5frvc3yat3hxb3h2q')
    script(src='/scripts/get_key_with_callback.js')
    script(src='/scripts/player.js')
    script(src='/scripts/touchpunch.js')
